<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="UTF-8">
      <title>Spring Boot Thymeleaf Example</title>
</head>
<body>

<h2>Welcome to the Home Page!</h2>

<a th:href="@{/Attendance}"><button>Attendance</button></a>
<a th:href="@{/getAllGraduates}"><button>Graduates</button></a>
<a th:href="@{/getAllAttendanceGraduate}"><button>Attendance Details</button></a>


</body>
</html>
</title>
</head>
<body>

</body>
</html>